<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
</head>

<body class="flex-column min-100-vh">
    <div class="nav">
        <h4 class="nav-header">
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/create">Create Post</a>
            {{#if loggedIn}}
            <a href="/" id="logout">Logout</a>
            {{else}}
            <a href="/login">Login/Signup</a>
            {{/if}}
        </h4>
        <div class="nav-title">
            <h1>Tech Blog</h1>
        </div>

    </div>

    <main class="container">
        {{{ body }}}
    </main>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/create.js"></script>
</body>

</html>