<div class="card create">
    <div class="card-header">
        <h2>Create Post</h2>
    </div>
    <form class="card-body">
        <label for="post-title">Title</label>
        <input name="title" type="text" />

        <label for="post-content">Content</label>
        <textarea name="content"></textarea>

        <button class="btn create-btn create-form" type="submit">Create</button>
    </form>
</div>

<script src="/js/create.js"></script>