<div class="card">
    <div class="card-header">
        <h2>Create Post</h2>
    </div>
    <form class="card-body">
        <label for="post-title">Title</label>
        <input name="title" type="text" />

        <label for="post-body">Body</label>
        <textarea name="body"></textarea>

        <button class="btn create-form">Create</button>
    </form>
</div>

<script src="/js/create.js"></script>