<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            <form class="login-form card-body">
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="user-login" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password-login" />
                </div>
                <button type="submit" class="btn btn-primary login-form">Login</button>
            </form>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h2>Signup</h2>
            </div>
            <form class="login-form card-body">
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="user-signup" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password-signup" />
                </div>
                <button type="submit" class="btn btn-primary signup-form">Signup</button>
            </form>
        </div>
    </div>
</div>


<script src="/js/login.js"></script>