<div class="row login">
    <div class="col-6 left">
        <div class="card padding-1">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            <form class="card-body">
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="user-login" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password-login" />
                </div>
                <button class="btn login-form">Login</button>
            </form>
        </div>
    </div>

    <div class="col-6 right">
        <div class="card padding-2">
            <div class="card-header">
                <h2>Signup</h2>
            </div>
            <form class="card-body">
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="user-signup" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password-signup" />
                </div>
                <button class="btn signup-form">Signup</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>
{{!-- <script src="/js/signup.js"></script> --}}